<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Signup</title>
 </head> 
 <body>
  <article>
    <h2>Signup page</h2>
    <form action="/process" method="POST">
      <p><input type="text" name="name" placeholder="name" autocomplete="on" required>
      <p><input type="text" name="email" placeholder="email" autocomplete="on" required>
      <p><input type="password" name="pwd" placeholder="password" autocomplete="on" required>
      <p><input type="submit" value="Signup">
    </form>
  </article>
 </body> 
</html>